DATABASE_URL=""
SHADOW_DATABASE_URL=""

SERVICE_NAME=boilerplate-be
SERVICE_VERSION=v0.0.1

ENABLE_ELK_LOG=false

PORT=2324
ENVIRONMENT=dev

JWT_SECRET="AVERYSECRETjWTcoDE"
ALLOWED_ORIGINS="*"

ELASTIC_USER=
ELASTIC_PASSWORD=
ELASTIC_HOST=